Big O Formal definition.PNG
Big O Notation.PNG
Closet Pair.PNG
Reference_Closet pair of points_Python.htm
Week1_Program Assignment 1_Karatsuba algorithm_Pass.pdf
Week1_Program Assignment 1_Karatsuba algorithm.pdf
Week1_PS1_Pass.pdf
Week1_PS1_ProblemSet.pdf
Week2_Program Assignment2_Inversion count_Pass.png
Week2_Program Assignment2_Inversion count.png
Week2_PS2_Pass_1.png
Week2_PS2_Pass_2.png
Week2_PS2_Pass_3.png
Week2_PS2_Pass_4.png
Week2_PS2_Pass_5.png
Week2_PS2_ProblemSet_1.png
Week2_PS2_ProblemSet_2.png
Week2_PS2_ProblemSet_3.png
Week2_PS2_ProblemSet_4.png
Week3_Program Assignment 3_Quicksort_pivot_extension_Pass.pdf
Week3_Program Assignment 3_Quicksort_pivot_extension.pdf
Week3_PS3_Pass.pdf
Week3_PS3_ProblemSet.pdf
Week4_Program Assignment 4_Mincut_Pass.png
Week4_Program Assignment 4_Mincut.png
Week4_PS4_Pass.pdf
Week4_PS4_ProblemSet.pdf
MergeSort/mergesort.py
Mincut/kargerMinCut.py
Mincut/kargerMinCut.txt
Mincut/ref_min_cut.py
QuickSelect/QuickSelect.py
Quicksort/input_dgrcode_02_5_output.txt
Quicksort/input_dgrcode_02_5.txt
Quicksort/Quicksort.py
Quicksort/QuickSort.txt
Quicksort/tes2_output.txt
Quicksort/test1_output.txt
Quicksort/test1.txt
Quicksort/test2.txt
Quicksort/test3_output.txt
Quicksort/test3.txt
Reference_Closet pair of points_Python_files/0_9h04Frm8SJm9plhH.jpg
Reference_Closet pair of points_Python_files/1_6azqVYnYqsPtKwTxgu6efA.png
Reference_Closet pair of points_Python_files/1_AafrH39RtczUk3SKvn_D-w.jpeg
Reference_Closet pair of points_Python_files/1_G4XUq32TjDreCuCihW8q2A.jpeg
Reference_Closet pair of points_Python_files/1_G4XUq32TjDreCuCihW8q2A(1).jpeg
Reference_Closet pair of points_Python_files/16180790160.js.download
Reference_Closet pair of points_Python_files/a16180790160.html
Reference_Closet pair of points_Python_files/analytics.js.download
Reference_Closet pair of points_Python_files/branch-latest.min.js.download
Reference_Closet pair of points_Python_files/m2.css
Reference_Closet pair of points_Python_files/main.8255128a.chunk.js.download
Reference_Closet pair of points_Python_files/manifest.80f36151.js.download
Reference_Closet pair of points_Python_files/p.js.download
Reference_Closet pair of points_Python_files/screen.collection.packageBuilder_screen.landingpages.pres45_screen.landingpages.tick_screen.landingp_ed90ee39.1019a77a.chunk.js.download
Reference_Closet pair of points_Python_files/screen.collection.packageBuilder_screen.landingpages.pres45_screen.landingpages.tribute_screen.post__73c4bb05.13e5c6e0.chunk.js.download
Reference_Closet pair of points_Python_files/screen.post_screen.post.amp_screen.post.series_screen.profile_screen.sequence.library_screen.sequenc_036c6b37.cc9993d4.chunk.js.download
Reference_Closet pair of points_Python_files/screen.post.5d1c7b50.chunk.js.download
Reference_Closet pair of points_Python_files/tracing.a9025c45.chunk.js.download
Reference_Closet pair of points_Python_files/vendors_main.1efa2a28.chunk.js.download
Reference_Closet pair of points_Python_files/vendors_screen.collection.packageBuilder_screen.landingpages.pres45_screen.landingpages.tribute_scre_3e410f11.6e718f1d.chunk.js.download
Reference_Closet pair of points_Python_files/vendors_tracing.28033849.chunk.js.download
Slide/About this course.pdf
Slide/Master Method Proof_Part I.pdf
Slide/Master Method_Examples.pdf
Slide/QuickSort_Analysis II_The Key Insight.pdf
Slide/QuickSort_Proof of correctness.pdf
Slide/QuickSort_QuickSort Analysis.pdf
Slide/QuickSort_The Partition Subroutine.pdf
Slide/Slide.zip
Slide/__MACOSX/._algo1slides
Slide/__MACOSX/algo1slides/._.DS_Store
Slide/__MACOSX/algo1slides/._Part 1
Slide/__MACOSX/algo1slides/._Part 2
Slide/__MACOSX/algo1slides/._Part 3
Slide/__MACOSX/algo1slides/._Part 4
Slide/__MACOSX/algo1slides/._Part 5
Slide/__MACOSX/algo1slides/._Part 6
Slide/__MACOSX/algo1slides/._Part 7
Slide/__MACOSX/algo1slides/._Part 8
Slide/__MACOSX/algo1slides/._Part 9
Slide/__MACOSX/algo1slides/._Part 10
Slide/__MACOSX/algo1slides/._Part 11
Slide/__MACOSX/algo1slides/._Part 12
Slide/__MACOSX/algo1slides/._Part 13
Slide/__MACOSX/algo1slides/._Part 14
Slide/__MACOSX/algo1slides/._Part 15
Slide/__MACOSX/algo1slides/._Part 16
Slide/__MACOSX/algo1slides/Part 1/._.DS_Store
Slide/__MACOSX/algo1slides/Part 1/._algo1-intro1.pdf
Slide/__MACOSX/algo1slides/Part 1/._algo1-intro2_typed.pdf
Slide/__MACOSX/algo1slides/Part 1/._algo1-intro3_typed.pdf
Slide/__MACOSX/algo1slides/Part 1/._slides_algo-about_typed.pdf
Slide/__MACOSX/algo1slides/Part 1/._slides_algo-guiding_typed.pdf
Slide/__MACOSX/algo1slides/Part 1/._slides_algo-merge1_typed.pdf
Slide/__MACOSX/algo1slides/Part 1/._slides_algo-merge2_typed.pdf
Slide/__MACOSX/algo1slides/Part 1/._slides_algo-merge3_typed.pdf
Slide/__MACOSX/algo1slides/Part 10/._slides_algo-graphs-bfs_typed.pdf
Slide/__MACOSX/algo1slides/Part 10/._slides_algo-graphs-dfs_typed.pdf
Slide/__MACOSX/algo1slides/Part 10/._slides_algo-graphs-scc_typed.pdf
Slide/__MACOSX/algo1slides/Part 10/._slides_algo-graphs-sccanalysis_typed.pdf
Slide/__MACOSX/algo1slides/Part 10/._slides_algo-graphs-search_typed.pdf
Slide/__MACOSX/algo1slides/Part 10/._slides_algo-graphs-web_typed.pdf
Slide/__MACOSX/algo1slides/Part 11/._slides_algo-dijkstra-basics_typed.pdf
Slide/__MACOSX/algo1slides/Part 11/._slides_algo-dijkstra-correctness_typed.pdf
Slide/__MACOSX/algo1slides/Part 11/._slides_algo-dijkstra-runtime_typed.pdf
Slide/__MACOSX/algo1slides/Part 12/._.DS_Store
Slide/__MACOSX/algo1slides/Part 12/._slides_algo-ds-heaps-basics_typed.pdf
Slide/__MACOSX/algo1slides/Part 12/._slides_algo-ds-heaps-guts_typed.pdf
Slide/__MACOSX/algo1slides/Part 12/._slides_algo-ds-overview_typed.pdf
Slide/__MACOSX/algo1slides/Part 13/._slides_algo-ds-trees-basics-typed.pdf
Slide/__MACOSX/algo1slides/Part 13/._slides_algo-ds-trees-ops-typed.pdf
Slide/__MACOSX/algo1slides/Part 13/._slides_algo-ds-trees-rbinsert-annotated.pdf
Slide/__MACOSX/algo1slides/Part 13/._slides_algo-ds-trees-redblack-typed.pdf
Slide/__MACOSX/algo1slides/Part 13/._slides_algo-ds-trees-rotations-annotated.pdf
Slide/__MACOSX/algo1slides/Part 14/._.DS_Store
Slide/__MACOSX/algo1slides/Part 14/._slides_algo-ds-hash-basics_typed.pdf
Slide/__MACOSX/algo1slides/Part 14/._slides_algo-ds-hash-guts_typed.pdf
Slide/__MACOSX/algo1slides/Part 15/._slides_algo-ds-hash-universal-2_typed.pdf
Slide/__MACOSX/algo1slides/Part 15/._slides_algo-ds-hash-universal1-typed.pdf
Slide/__MACOSX/algo1slides/Part 15/._slides_algo-ds-hash-universal3-typed.pdf
Slide/__MACOSX/algo1slides/Part 15/._slides_algo-ds-hash-universal4-typed.pdf
Slide/__MACOSX/algo1slides/Part 16/._slides_algo-ds-bloom-typed (1).pdf
Slide/__MACOSX/algo1slides/Part 16/._slides_algo-ds-bloom-typed.pdf
Slide/__MACOSX/algo1slides/Part 2/._algo1-aa-gist_typed.pdf
Slide/__MACOSX/algo1slides/Part 2/._slides_algo-asymptotic1_typed.pdf
Slide/__MACOSX/algo1slides/Part 2/._slides_algo-asymptotic2_typed.pdf
Slide/__MACOSX/algo1slides/Part 2/._slides_algo-asymptotic3_typed.pdf
Slide/__MACOSX/algo1slides/Part 2/._slides_algo-asymptotic4_typed.pdf
Slide/__MACOSX/algo1slides/Part 3/._slides_algo-closest1_typed.pdf
Slide/__MACOSX/algo1slides/Part 3/._slides_algo-closest2_typed.pdf
Slide/__MACOSX/algo1slides/Part 3/._slides_algo-inversions1_typed.pdf
Slide/__MACOSX/algo1slides/Part 3/._slides_algo-inversions2_typed.pdf
Slide/__MACOSX/algo1slides/Part 3/._slides_algo-strassen_typed.pdf
Slide/__MACOSX/algo1slides/Part 4/._slides_algo-master1_typed.pdf
Slide/__MACOSX/algo1slides/Part 4/._slides_algo-master2_typed.pdf
Slide/__MACOSX/algo1slides/Part 4/._slides_algo-master3_typed.pdf
Slide/__MACOSX/algo1slides/Part 4/._slides_algo-master4_typed.pdf
Slide/__MACOSX/algo1slides/Part 4/._slides_algo-master5_typed.pdf
Slide/__MACOSX/algo1slides/Part 4/._slides_algo-master6_typed.pdf
Slide/__MACOSX/algo1slides/Part 5/._slides_algo-qsort-correctness_typed.pdf
Slide/__MACOSX/algo1slides/Part 5/._slides_algo-qsort-intro_typed.pdf
Slide/__MACOSX/algo1slides/Part 5/._slides_algo-qsort-partition_typed.pdf
Slide/__MACOSX/algo1slides/Part 5/._slides_algo-qsort-pivot_typed.pdf
Slide/__MACOSX/algo1slides/Part 6/._slides_algo-qsort-analysis1_typed.pdf
Slide/__MACOSX/algo1slides/Part 6/._slides_algo-qsort-analysis2_typed.pdf
Slide/__MACOSX/algo1slides/Part 6/._slides_algo-qsort-analysis3_typed.pdf
Slide/__MACOSX/algo1slides/Part 7/._slides_algo-prob_review1_typed.pdf
Slide/__MACOSX/algo1slides/Part 7/._slides_algo-prob_review2_typed.pdf
Slide/__MACOSX/algo1slides/Part 8/._slides_algo-select-dalgorithm_typed.pdf
Slide/__MACOSX/algo1slides/Part 8/._slides_algo-select-danalysis_typed.pdf
Slide/__MACOSX/algo1slides/Part 8/._slides_algo-select-danalysis2_typed.pdf
Slide/__MACOSX/algo1slides/Part 8/._slides_algo-select-ralgorithm_typed.pdf
Slide/__MACOSX/algo1slides/Part 8/._slides_algo-select-ranalysis_typed.pdf
Slide/__MACOSX/algo1slides/Part 8/._slides_algo-select-sortinglb_typed.pdf
Slide/__MACOSX/algo1slides/Part 9/._slides_algo-karger-algorithm_typed.pdf
Slide/__MACOSX/algo1slides/Part 9/._slides_algo-karger-analysis_typed.pdf
Slide/__MACOSX/algo1slides/Part 9/._slides_algo-karger-counting_typed.pdf
Slide/__MACOSX/algo1slides/Part 9/._slides_algo-karger-overview_typed.pdf
Slide/__MACOSX/algo1slides/Part 9/._slides_algo-karger-representations_typed.pdf
Slide/algo1slides/.DS_Store
Slide/algo1slides/Part 1/.DS_Store
Slide/algo1slides/Part 1/algo1-intro1.pdf
Slide/algo1slides/Part 1/algo1-intro2_typed.pdf
Slide/algo1slides/Part 1/algo1-intro3_typed.pdf
Slide/algo1slides/Part 1/slides_algo-about_typed.pdf
Slide/algo1slides/Part 1/slides_algo-guiding_typed.pdf
Slide/algo1slides/Part 1/slides_algo-merge1_typed.pdf
Slide/algo1slides/Part 1/slides_algo-merge2_typed.pdf
Slide/algo1slides/Part 1/slides_algo-merge3_typed.pdf
Slide/algo1slides/Part 10/slides_algo-graphs-bfs_typed.pdf
Slide/algo1slides/Part 10/slides_algo-graphs-dfs_typed.pdf
Slide/algo1slides/Part 10/slides_algo-graphs-scc_typed.pdf
Slide/algo1slides/Part 10/slides_algo-graphs-sccanalysis_typed.pdf
Slide/algo1slides/Part 10/slides_algo-graphs-search_typed.pdf
Slide/algo1slides/Part 10/slides_algo-graphs-web_typed.pdf
Slide/algo1slides/Part 11/slides_algo-dijkstra-basics_typed.pdf
Slide/algo1slides/Part 11/slides_algo-dijkstra-correctness_typed.pdf
Slide/algo1slides/Part 11/slides_algo-dijkstra-runtime_typed.pdf
Slide/algo1slides/Part 12/.DS_Store
Slide/algo1slides/Part 12/slides_algo-ds-heaps-basics_typed.pdf
Slide/algo1slides/Part 12/slides_algo-ds-heaps-guts_typed.pdf
Slide/algo1slides/Part 12/slides_algo-ds-overview_typed.pdf
Slide/algo1slides/Part 13/slides_algo-ds-trees-basics-typed.pdf
Slide/algo1slides/Part 13/slides_algo-ds-trees-ops-typed.pdf
Slide/algo1slides/Part 13/slides_algo-ds-trees-rbinsert-annotated.pdf
Slide/algo1slides/Part 13/slides_algo-ds-trees-redblack-typed.pdf
Slide/algo1slides/Part 13/slides_algo-ds-trees-rotations-annotated.pdf
Slide/algo1slides/Part 14/.DS_Store
Slide/algo1slides/Part 14/slides_algo-ds-hash-basics_typed.pdf
Slide/algo1slides/Part 14/slides_algo-ds-hash-guts_typed.pdf
Slide/algo1slides/Part 15/slides_algo-ds-hash-universal-2_typed.pdf
Slide/algo1slides/Part 15/slides_algo-ds-hash-universal1-typed.pdf
Slide/algo1slides/Part 15/slides_algo-ds-hash-universal3-typed.pdf
Slide/algo1slides/Part 15/slides_algo-ds-hash-universal4-typed.pdf
Slide/algo1slides/Part 16/slides_algo-ds-bloom-typed (1).pdf
Slide/algo1slides/Part 16/slides_algo-ds-bloom-typed.pdf
Slide/algo1slides/Part 2/algo1-aa-gist_typed.pdf
Slide/algo1slides/Part 2/slides_algo-asymptotic1_typed.pdf
Slide/algo1slides/Part 2/slides_algo-asymptotic2_typed.pdf
Slide/algo1slides/Part 2/slides_algo-asymptotic3_typed.pdf
Slide/algo1slides/Part 2/slides_algo-asymptotic4_typed.pdf
Slide/algo1slides/Part 3/slides_algo-closest1_typed.pdf
Slide/algo1slides/Part 3/slides_algo-closest2_typed.pdf
Slide/algo1slides/Part 3/slides_algo-inversions1_typed.pdf
Slide/algo1slides/Part 3/slides_algo-inversions2_typed.pdf
Slide/algo1slides/Part 3/slides_algo-strassen_typed.pdf
Slide/algo1slides/Part 4/slides_algo-master1_typed.pdf
Slide/algo1slides/Part 4/slides_algo-master2_typed.pdf
Slide/algo1slides/Part 4/slides_algo-master3_typed.pdf
Slide/algo1slides/Part 4/slides_algo-master4_typed.pdf
Slide/algo1slides/Part 4/slides_algo-master5_typed.pdf
Slide/algo1slides/Part 4/slides_algo-master6_typed.pdf
Slide/algo1slides/Part 5/slides_algo-qsort-correctness_typed.pdf
Slide/algo1slides/Part 5/slides_algo-qsort-intro_typed.pdf
Slide/algo1slides/Part 5/slides_algo-qsort-partition_typed.pdf
Slide/algo1slides/Part 5/slides_algo-qsort-pivot_typed.pdf
Slide/algo1slides/Part 6/slides_algo-qsort-analysis1_typed.pdf
Slide/algo1slides/Part 6/slides_algo-qsort-analysis2_typed.pdf
Slide/algo1slides/Part 6/slides_algo-qsort-analysis3_typed.pdf
Slide/algo1slides/Part 7/slides_algo-prob_review1_typed.pdf
Slide/algo1slides/Part 7/slides_algo-prob_review2_typed.pdf
Slide/algo1slides/Part 8/slides_algo-select-dalgorithm_typed.pdf
Slide/algo1slides/Part 8/slides_algo-select-danalysis_typed.pdf
Slide/algo1slides/Part 8/slides_algo-select-danalysis2_typed.pdf
Slide/algo1slides/Part 8/slides_algo-select-ralgorithm_typed.pdf
Slide/algo1slides/Part 8/slides_algo-select-ranalysis_typed.pdf
Slide/algo1slides/Part 8/slides_algo-select-sortinglb_typed.pdf
Slide/algo1slides/Part 9/slides_algo-karger-algorithm_typed.pdf
Slide/algo1slides/Part 9/slides_algo-karger-analysis_typed.pdf
Slide/algo1slides/Part 9/slides_algo-karger-counting_typed.pdf
Slide/algo1slides/Part 9/slides_algo-karger-overview_typed.pdf
Slide/algo1slides/Part 9/slides_algo-karger-representations_typed.pdf
Program Assignment4_Mincut/ref_min_cut.py
.gitignore
